* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;
	background: #1abc9c;
	color: #fff;
}
.logo {
	width: 20%;
	display: flex;
	justify-content: center;
}
.logo h1 {
	font-size: 40px;
	font-weight: 300;
}

.navbar {
	width: 45%;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 100%;
	list-style-type: none;
}
.nav-links a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 15px;
	font-weight: 300;
}
.nav-links a:hover {
	border-bottom: 2px solid #FFC654;
}

.hero-color {
  background: linear-gradient(180deg, rgba(26, 188, 156, 1), rgba(26, 188, 156, 0.6));
  height: 92vh;
  position: relative;
  top: 8vh;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #fff;
  font-size: 34px;
}
.hero-text h1 {
	font-weight: 400;
}
.hero-text p {
	font-weight: 300;
}
.scroll-container {
	position: absolute;
	top: 87%;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (max-width: 1050px) {
	.navbar {
		width: 50%;
	}
}

main {
	margin-top: 125px;
}

.content-wrapper {
	width: 65%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.content-wrapper h2 {
	font-weight: 300;
	font-size: 26px;
	margin-bottom: 75px;
}

.image-container img {
	max-width: 100%;
	height: auto;
}
.information {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 70%;
	margin: auto;
}
.information h3 {
	font-size: 23px;
	font-weight: 300;
	margin-bottom: 20px;
}
.information p {
	font-weight: 200;
	font-size: 18px;
}

.content1, .content3 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-bottom: 75px;
	border-width: 0px 2px 2px 0px;
	border-style: solid;
	border-color: #1abc9c;
	border-radius: 0px 0px 15px 0px;
}
.content2 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 2em;
	margin-bottom: 75px;
	border-width: 0px 0px 2px 2px;
	border-style: solid;
	border-color: orange;
	border-radius: 0px 0px 0px 15px;
}
.content2 .image-container {
	grid-column: 2;
}
.content2 .information {
	grid-row: 1;
}

footer {
  width: 100%;
  height: 4rem;
  background-color: #1abc9c;
}
.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

SCROLL ANIMATION
.container {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}