* { margin: 0px; padding: 0px; box-sizing: border-box; }

body {
	width: 100%;
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;
	background: #1abc9c;
	color: #fff;
}
.logo {
	width: 20%;
	display: flex;
	justify-content: center;
}
.logo h1 {
	font-size: 40px;
	font-weight: 300;
}

.navbar {
	width: 45%;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 100%;
	list-style-type: none;
}
.nav-links a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 15px;
	font-weight: 300;
}
.nav-links a:hover {
	border-bottom: 2px solid #FFC654;
}

.heading {
	flex: 1;
	margin-top: 120px;
	display: flex;
	justify-content: center;
}
.heading h1 {
	font-size: 30px;
	color: #1abc9c;
	font-weight: 300;
}
.heading u {
	text-decoration: none;
	color: orange;
	font-size: 35px;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	margin-top: -25px;
}

.wrapper {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2em;
}
.card-image {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.card-head {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.card-head h2 {
	padding-bottom: 5px;
	font-size: 22px;
	border-bottom: 3px solid orange;
}
.card-content p {
	text-align: center;
	font-size: 18px;
}
.philosophy, .strengths, .methods, .accord {
	background-color: #ddd;
	border-radius: 15px;
	border-width: 0px 2px 2px 0px;
	border-color: #1abc9c;
	border-style: solid;
}
.inner-content {
	padding: 20px;
}

footer {
  width: 100%;
  height: 3rem;
  background-color: #1abc9c;
  flex: 1;
}
.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}