* { margin: 0px; padding: 0px; box-sizing: border-box; }

body {
	width: 100%;
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;
	background: #1abc9c;
	color: #fff;
}
.logo {
	width: 20%;
	display: flex;
	justify-content: center;
}
.logo h1 {
	font-size: 40px;
	font-weight: 300;
}

.navbar {
	width: 45%;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 100%;
	list-style-type: none;
}
.nav-links a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 15px;
	font-weight: 300;
}
.nav-links a:hover {
	border-bottom: 2px solid #FFC654;
}

.heading {
	flex: 1;
	margin-top: 120px;
	display: flex;
	justify-content: center;
}
.heading h1 {
	font-size: 30px;
	color: #1abc9c;
	font-weight: 300;
}
.heading u {
	text-decoration: none;
	color: orange;
	font-size: 35px;
}

main {
	flex: 1;
	margin-top: 20px;
	margin-bottom: 50px;
}

.contact-form {
	width: 30%;
	margin: auto;
	background-color: #ddd;
	border-radius: 10px;
}
.form-content {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: auto;
	padding-bottom: 50px;
}
.form-content label {
	margin-top: 50px;
}
.accept-message {
	height: 150px;
}
.submit-button {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.button {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	border: none;
	background-color: orange;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	outline: none;
}
.button:hover {
	background-color: #1abc9c;
	cursor: pointer;
}
input, textarea {
	background-color: transparent;
	outline: none;
	margin-top: 5px;
	border-color: orange;
	border-width: 2px;
	font-size: 18px;
	color: #555;
	border-radius: 5px;
	padding: 5px;
	font-family: 'Poppins', sans-serif;
}
input {
	border-width: 0px 0px 2px 0px;
	border-radius: 0px;
}
.accept-message {
	resize: none;
}
label {
	font-size: 19px;
}

::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #888;
}
::-moz-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #888;
}
:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #888;
}

footer {
  width: 100%;
  height: 4rem;
  background-color: #1abc9c;
  flex: 1;
}
.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}