* { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
  background: #1abc9c;
  color: #fff;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
}
.logo h1 {
  font-size: 40px;
  font-weight: 300;
}

.navbar {
  width: 45%;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 300;
}
.nav-links a:hover {
  border-bottom: 2px solid #FFC654;
}

.heading {
  margin-top: 8vh;
  flex: 1;
}
.heading h1 {
	font-size: 30px;
	color: #1abc9c;
  margin: 25px;
	text-align: center;
  font-weight: 300;
}
.heading u {
	text-decoration: none;
	color: orange;
	font-size: 35px;
}

main {
  flex: 1;
  padding-bottom: 2rem;
}
.collapsible h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
}

.questions {
	width: 70%;
	margin: auto;
}

.collapsible {
  background-color: #fff;
  border: 1px solid orange;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 2px;
  color: #1abc9c;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:hover {
  background-color: orange;
  color: #fff;
  border: none;
}
.active {
  border: 1px solid orange;
}

.content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: #666;
  width: 99%;
  margin-left: 1%;
}
.content p {
  color: #fff;
  padding: 30px;
  font-weight: normal;
  font-size: 16px;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 3rem;
  background-color: #1abc9c;
  flex: 1;
}
.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}