* { margin: 0px; padding: 0px; box-sizing: border-box; }

body {
	width: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: #eee;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;
	background: #1abc9c;
	color: #fff;
}
.logo {
	width: 20%;
	display: flex;
	justify-content: center;
}
.logo h1 {
	font-size: 40px;
	font-weight: 300;
}

.navbar {
	width: 45%;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 100%;
	list-style-type: none;
}
.nav-links a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 15px;
	font-weight: 300;
}
.nav-links a:hover {
	border-bottom: 2px solid #FFC654;
}

.heading {
	flex: 1;
	margin-top: 120px;
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.heading h1 {
	font-size: 30px;
	color: #1abc9c;
	font-weight: 300;
}
.heading u {
	text-decoration: none;
	color: orange;
	font-size: 35px;
}

.wrapper {
	width: 75%;
	height: 40%;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(200px, auto);
}
.card1 {
	grid-row: 1;
	grid-column: 1;
}
.card2 {
	grid-row: 2;
	grid-column: 2;
}
.card3 {
	grid-row: 1;
	grid-column: 3;
}
.card4 {
	grid-row: 2;
	grid-column: 4;
}
.card5 {
	grid-row: 1;
	grid-column: 5;
}

.card-pathways {
	height: 100%; 
}
.card-head h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	font-weight: 100;
	backface-visibility: hidden;
}
.card-pathways ul {
	height: 100%;
	width: 100%;
	list-style-type: none;
	backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card-pathways li {
	display: block;
	margin: 10px 0;
}
.card-pathways a {
	text-decoration: none;
	border-bottom: 2px solid #FFC654;
	font-size: 20px;
	color: #fff;
}
.card-pathways a:hover {
	border: none;
	text-decoration: underline;
}
.filler {
	background-color: orange;
	border-radius: 15px;
	width: 100%;
	height: 100%;
}

.card1, .card2, .card3, .card4, .card5 {
	position: relative;
	perspective: 1000px;
}

.card {
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	background-color: #1abc9c;
	color: #fff;
	border-radius: 15px;
}

.card-pathways {
	transform: rotateY(180deg);
	z-index: 20 !important;
}

.cardIsFlipped {
	transform: rotateY(180deg);
}

footer {
  width: 100%;
  height: 3rem;
  background-color: #1abc9c;
  flex: 1;
}
.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}