* {margin: 0px; padding: 0px; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;
	background: #1abc9c;
	color: #fff;
}
.logo {
	width: 20%;
	display: flex;
	justify-content: center;
}
.logo h1 {
	font-size: 40px;
	font-weight: 300;
}

.navbar {
	width: 45%;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 100%;
	list-style-type: none;
}
.nav-links a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 15px;
	font-weight: 300;
}
.nav-links a:hover {
	border-bottom: 2px solid #FFC654;
}

.heading {
	flex: 1;
}

/*HEADER STYLING*/
.page-heading {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 15px;
}
.page-heading h1 {
	font-size: 30px;
	color: #1abc9c;
}
.page-heading u {
	text-decoration: none;
	color: orange;
	font-size: 35px;
}
.page-info {
	width: 80%;
	margin: auto;
	background-color: #eee;
	border-radius: 10px;
	border: 3px solid;
	border-color: #1abc9c #1abc9c orange orange;
}
.page-info p {
	font-size: 17px;
	text-align: justify;
	padding: 20px;
}

/*MAIN STYLING*/
main {
	flex: 1;
	margin-top: 50px;
}

/*CAREER 1 STYLING*/
.career1 {
	width: 70%;
	margin: auto;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 1em;
	grid-auto-rows: minmax(40px, auto);
}
.career1 .career-head {
	grid-row: 1;
	grid-column: 2/3;
	display: flex;
	justify-content: center;
}
.career-head h2 {
	font-size: 30px;
}
.career1 .career-photo {
	display: flex;
	align-items: center;
	grid-row: 2;
	grid-column: 1/2;
}
.career-img {
	max-width: 100%;
	height: auto;
}
.career1 .career-info {
	background-color: #e7e7e7;
	border-radius: 20px;
	box-shadow: 7px 7px 13px #bbb;
	grid-row: 2;
	grid-column: 2/3;
	padding: 15px;
	border-width: 0px 2px 2px 0px;
	border-style: solid;
	border-color: orange;
}
.career-info h3 {
	margin-left: 25px;
	margin-bottom: 8px;
	font-size: 23px;
}
.career-info ul {
	list-style-type: none;
}
.career-info p, .career-info li {
	font-size: 16.5px;
}
.academic-info, .training-info, .job-outlook, .pay-info {
	padding: 10px 10px;
}

/*CAREER 2 STYLING*/
.career2 {
	width: 70%;
	margin: auto;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 1em;
	grid-auto-rows: minmax(40px, auto);
}
.career2 .career-head {
	grid-row: 1;
	grid-column: 1/2;
	display: flex;
	justify-content: center;
}
.career2 .career-photo {
	display: flex;
	align-items: center;
	grid-row: 2;
	grid-column: 2/3;
}
.career2 .career-info {
	background-color: #e7e7e7;
	border-radius: 20px;
	box-shadow: -7px 7px 13px #bbb;
	grid-row: 2;
	grid-column: 1/2;
	padding: 15px;
	border-width: 2px 0px 0px 2px;
	border-style: solid;
	border-color: #1abc9c;
}

/*END NOTE STYLES*/
.more-careers {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.more-careers p {
	font-size: 20px;
}
.more-careers u {
	text-decoration: none;
	background-color: orange;
	color: #fff;
}

footer {
  width: 100%;
  height: 4rem;
  background-color: #1abc9c;
  flex: 1;
}
.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}